* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__container{
    padding-block: 5rem;
}

.card__content{
    margin-inline: 1.75rem;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__article{
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card__image{
    position: relative;
    background-color: aliceblue;
    padding-top: 1.5rem;
    margin-bottom: -.75rem;
}

.card__data{
    background-color: antiquewhite;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}